/* parent element */
.gridContainer{
    display: grid;

    /* Pixels (px) - adsolute value, fixed value*/
    grid-template-columns: 200px 200px 200px 200px;
    /* grid-template-rows: 200px 200px 200px 200px; */

    /* auto */
    /* Adjust automatically based on the content */
    grid-template-columns: auto auto auto auto;

    /* Percentage (%) */
    grid-template-columns: 33% 33% 33% 33%;
    border: 2px black solid;
    padding: 0;

    /* fr - fractional */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* 
    D-on't
    R-epeat
    Y-ourself
    */

    /* repeat function */
    grid-template-columns: repeat(5, 1fr);

    /* Column and Row Gaps */
    column-gap: 10px;
    row-gap: 15px;
    gap: 5px;

    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) */
}

/* Media Queries */

/* 
    Mobile Devices: Less than 481px
    iPads, Tablets: 481px - 768px
    Small Screens, Laptops: 769px - 1024px
    Desktops, Large Screens: 1025px - 1200px
    Extra Large Screens, TV: 1201px and greater
*/

/* Mobile-first approach */
/* Desktop-first approach */
@media screen and (min-width: 1025px) {
    .gridContainer {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      color: blue;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .gridContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .gridContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
}