/* Static Position*/
/* Elements follow the normal document flow*/

/* Relative Position */
/* Relative to its original position */
#relative{
    background-color: #fc0;
    position: relative;
    /* top, right, bottom, left */
    /* top: 80px; */
    /* left: 10px; */

}

/* Absolute Position */
/* Remove the element from the normal document flow */
/* Relative to the parengt container */
/* position is no set to static */
/* becomes an inline element. only takes the position that it needs */
#absolute{
    background-color: #0cf;
    position: absolute;
    /* top: 0px; */
    right: 0px;
    bottom: 0px;
}

/* Fixed Position */
/* Relative to the viewport */
/* becomes an inline element. */
/* stays in the same place when you scroll */
#fixed{
    background-color: #f00;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* Sticky Position */
/* Starts as relative. When it hits a certain point, it will stick to it */
#sticky{
    background-color: #3c3;
    position: sticky;
    /* top, right, bottom, left */
    top: 0px;
}